<div class="row">
      <div class="col-md-10 offset-md-1 me-md-1">
        <ngx-datatable #diagnosisTable class='bootstrap' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"    
              [rows]='appointment.patientDiagnosis' [count]="totalCount" [limit]="dataParams.page_size">    
              <ngx-datatable-column name="Code" prop="diagnosis.code"></ngx-datatable-column> 
              <ngx-datatable-column name="Description" prop="diagnosis.description"></ngx-datatable-column>
              <ngx-datatable-column name="Note" prop="diagnosisnote"></ngx-datatable-column>
          </ngx-datatable> 
        </div>
    </div>
