    <div class="row topMarginContent">
      <div class="col-md-4 mt-md-0 mt-2 img-margin">
        <img class="img-fluid" src="./assets/images/imageRegister.JPG" alt="Register-PMS" />
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-7 mt-md-0 mt-4">
        <div class="card registercard register-style">
          <div class="card-body">
            <div class="row">
              <div class="col-md-12 text-center">
                <span>
                  <img class="img-fluid" width="9%" src="./assets/images/success.png" alt="Register-success" />
                </span>
              </div>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="row">
              <div class="col-md-12 text-center">
                <span>
                  You are registered successfully.<br />
                  Click <a [routerLink]="['login']">Here</a> to login
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

