
<div *ngIf="showStatus == true" class="float-right">
    <i class="fas fa-circle" style="color: rgba(33, 150, 243, 0.37);"> </i><small>Awaited</small>  |
    <i class="fas fa-circle" style="color: rgb(255, 248, 197);"></i><small>Cancelled</small> |
    <i class="fas fa-circle" style="color: rgba(7, 248, 47, 0.37);"></i><small>Confirmed</small> |
    <i class="fas fa-circle" style="color: rgba(248, 7, 7, 0.5);"></i><small>Declined</small> |
    <i class="fas fa-circle" style="color: rgba(59, 73, 223, 0.37);"></i><small>Visited </small>
</div>
