<div class="row">
    <div class="col-md-10 offset-md-1 me-md-1">
      <ngx-datatable #vitalsignsTable class='bootstrap' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"    
              [rows]='vitalsigns' [count]="totalCount" [limit]="dataParams.page_size">    
              <ngx-datatable-column name="Vital Sign" prop="name"></ngx-datatable-column> 
              <ngx-datatable-column name="Reading" prop="value"></ngx-datatable-column> 
              <ngx-datatable-column name="Unit" prop="unit"></ngx-datatable-column>  
          </ngx-datatable> 
    </div>
  </div>
