<div class="backdrop">
    <div class="procedureModal">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <span class="cardHeading">Procedure Details</span>
          </div>
          <form [formGroup]="procedureForm" (ngSubmit)="saveProcedureDetails()">
            <div class="row">
              <div class="col">
                  <div class="form-group md-form">
                    <label for="code">Procedure Code</label>
                      <input mdbInput name="code" type="text" formControlName="code" class="form-control textfield">
                      <div #codeerrors *ngIf="code.touched && code.invalid" class="erroriconwrapper text-right">
                        <erroricon (click)="showPopover($event,codeerrors)"></erroricon>
                        <div class="errPopover">
                            <p class="text-danger inputfieldwarnings" *ngIf="code.hasError('required')">- Enter procedure code.</p>
                        </div>
                    </div>
                    </div>
              </div>
              </div>
              <div class="row">
              <div class="col">
                  <div class="form-group md-form">
                    <label for="approach">Approach</label>
                    <input mdbInput type="text" name="approach" class="form-control textfield" formControlName="approach">
                      <div #approacherrors *ngIf="approach.touched && approach.invalid" class="erroriconwrapper text-right">
                        <erroricon (click)="showPopover($event,approacherrors)"></erroricon>
                        <div class="errPopover">
                            <p class="text-danger inputfieldwarnings" *ngIf="approach.hasError('required')">- Enter approach.</p>
                        </div>
                    </div>
                    </div>
              </div>
          </div>
          
      <div class="row" *ngIf="!isAddMode">
        <div class="col">
            <div class="form-check text-left">
                <input class="form-check-input" type="checkbox" name="depracted" formControlName="isDeprecated">
                <label class="form-check-label labelColor" for="depracted">
                  Deprecate
                </label>
              </div>
                
              </div>
        </div>
      <div class="row">
        <div class="col text-center">
          <button type="submit" class="btn btn-success rounded mr-1" [disabled]="!procedureForm.valid">Save</button>
      <button class="btn btn-warning rounded" (click)="closePopUp()">Cancel</button>
        </div>
      </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  
