<div>
  <div class="col-md-12 mt-md-0 mt-6">
    <div class="row">
      <div class="col-md-12">
        <p class="header-info"><span class="text-danger">Info</span> : Upon <span class="text-info">Sucessfully</span> Change Pasword you will be logged out of the system, and redireced to login page.</p>
      </div>
    </div>
    <div class="row" *ngIf="showLink">
      <div class="col-md-11 me-md-1 text-right">
        <a class="text-primary bold" href="{{goToUrl}}">Go to Dashboard</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-margin" >
        <img class="img-fluid loginimg" src="./assets/images/Login.PNG" alt="Login-PMS" />
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-8">
        <div *ngIf="showChangePassCard" class="card logincard card-blueshadow">
          <div class="card-body">
            <div class="text-center">
              <h4>Change Password</h4>
            </div>
            <form [formGroup]="changePwdForm" class="row needs-validation" (ngSubmit)="onChangePassword()">

              <div class="col-md-12 text-center" *ngIf="showUsername">
                <div class="form-group">
                  Hi,&nbsp; <font class="username">{{username}}</font>
                </div>
              </div>

              <div class="col-md-12">
                <div class="md-form form-group" *ngIf="showOldPass">
                  <label for="oldPassword">Old Password</label>
                  <input formControlName="oldPassword" mdbInput type="password" class="form-control textfield" id="oldPassword" (blur)="verifyOldPassword($event)">

                  <div #oldPassworderrors *ngIf="oldPassword.touched && oldPassword.invalid" class="erroriconwrapper col-md-2 offset-md-11">
                    <error-icon (click)="showPopover($event,oldPassworderrors)"></error-icon>
                    <div class="errPopover">
                      <p class="text-danger inputfieldwarnings" *ngIf="oldPassword.hasError('required')">- enter old password.</p>
                    </div>
                  </div>
                </div>
                <div class="md-form form-group">
                  <label for="newPassword">New Password</label>
                  <input formControlName="newPassword" mdbInput type="password" class="form-control textfield" id="newPassword">

                  <div #newpassworderrors *ngIf="newPassword.touched && newPassword.invalid" class="erroriconwrapper col-md-2 offset-md-11">
                    <error-icon (click)="showPopover($event,newpassworderrors)"></error-icon>
                    <div class="errPopover">
                      <p class="text-danger inputfieldwarnings" *ngIf="newPassword.hasError('required')"> enter new password.</p>
                      <p class="text-danger inputfieldwarnings" *ngIf="newPassword.hasError('pattern')">- password must have at least 1 uppercase, symbol and digit.</p>
                    </div>
                  </div>
                </div>
                <div class="md-form form-group">
                  <label for="confirmNewPassword">Confirm New Password</label>
                  <input formControlName="confirmNewPassword" mdbInput type="password" class="form-control textfield" id="confirmNewPassword">

                  <div #confirmNewPassworderrors *ngIf="confirmNewPassword.touched && confirmNewPassword.invalid" class="erroriconwrapper col-md-2 offset-md-11">
                    <error-icon (click)="showPopover($event,confirmNewPassworderrors)"></error-icon>
                    <div class="errPopover">
                      <p class="text-danger inputfieldwarnings" *ngIf="confirmNewPassword.hasError('required')">- enter confirm new password.</p>
                      <p class="text-danger inputfieldwarnings" *ngIf="confirmNewPassword.hasError('pattern')">- confirm new password must match with new password.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" *ngIf="!hideSubmit">
                <div class="text-center">
                  <button type="submit" class="btn btn-success rounded" [disabled]="!changePwdForm.valid">Submit</button>
                </div>
              </div>
            </form>
            
          </div>
        </div>
        <div *ngIf="showkeyTimeOutCard" class="card logincard">
          <div class="card-body">
            <div class="text-center">
              <h4>{{message}}</h4>
            </div>
            </div>
            </div>
      </div>
    </div>
  </div>
</div>
