<div class="row padding-top-10px headMargin">
  <div class="col-md-10 offset-md-1 me-md-1 text-center">
    <span class="cardHeading">Patients List</span>
  </div>
</div>
<div class="row">
  <div class="col-md-11 offset-md-1 text-left">
    <app-table-search (searchTexChangedEvent)="Search($event)"
                      placeholderText="Search By Id or Name"></app-table-search>
    <!--<input type='text'
           style='padding:8px;margin:15px auto;width:70%;'
           placeholder='Search by Id or Name'
           (keyup)='Search($event)' />-->
  </div>
</div>
<ngx-datatable #apptTable class='bootstrap card-blueshadow col-md-10 offset-md-1 me-md-1' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"
               [rows]='users' [count]="totalCount" [limit]="dataParams.page_size">

  <ngx-datatable-column [width]="10" name="Patient ID" prop="userid"></ngx-datatable-column>
  <ngx-datatable-column [width]="200" name="UserName" prop="username"></ngx-datatable-column>
  <!--<ngx-datatable-column name="Role" prop="role"></ngx-datatable-column>-->

  <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
  <ngx-datatable-column>
    <ng-template let-column="column" ngx-datatable-header-template>
      Date Of Registration
    </ng-template>
    <ng-template let-row="row" ngx-datatable-cell-template>
      <strong> {{row.createddate|date}}</strong>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Status" prop="status" [canAutoResize]="true">
    <ng-template let-row="row" class="text-center" let-value="value" ngx-datatable-cell-template>
      <span class="text-success" *ngIf="value=='Active'">Active</span>
      <span class="text-danger" *ngIf="value=='Inactive'">Inactive</span>
      <span *ngIf="value=='Blocked'">Blocked</span>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column [width]="80" name="" prop="action" [sortable]="false">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <a *ngIf="(row.status == 'Inactive' )|| (row.status == 'Blocked')" (click)="ActivateUser(row)" class="view-link">
        <i class="fas fa-toggle-off fa-lg" aria-hidden="true" title="Activate User"></i>
      </a>&nbsp;
      <a *ngIf="row.status == 'Active'" (click)="DeactivateUser(row)" class="view-link">
        <i class="fas fa-toggle-on fa-lg" title="Deactivate User"></i>
      </a>&nbsp;
      <!--<a *ngIf="(row.status == 'Active' )|| (row.status == 'Inactive')" (click)="BlockUser(row)" class="view-link">
        <i class="fas fa-solid fa-user-lock fa-lg" title="Block User"></i>
      </a>-->
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
