<tabset >
    <tab heading="New Appointment" (selectTab)="onLoadTabOne()">
        <div class="header"  *ngIf="loadTabOne">
            <div class="search">
                <div class="row nopadding">
                    <div class="col-md-10 offset-md-1">
                        <app-search-bar (searchClickEvent)="getSearchedInfo($event)"></app-search-bar>
                    </div>
                </div>
            </div>
        </div>
        <app-infinite-scroller [searchtxtboxval] = "searchTextVal" [searchdrpdownval]="searchDrpDwnVal" [searchDateVal]="searchDateVal" ></app-infinite-scroller>
    </tab>
    <tab heading="Upcoming Appointment"  (selectTab)="onLoadTabTwo()">
        <div class="m-2 card">
            <div class="card-body" *ngIf="loadTabTwo" >
                <app-edit-appointments></app-edit-appointments>
            </div>
        </div>
    </tab>
</tabset>
