<div class="row padding-top-10px">
  <div class="col-md-10 offset-md-1 me-md-1 text-center headMargin">
    <span class="cardHeading">Diagnosis List</span>
    <div class="float-right">
      <a class="addLink" (click)="openPopUp(0)" tooltip="Add Diagnosis">
        <i class="fas fa-plus-circle fa-3x" title="Add Diagnosis"></i>
        <!-- <img class="img-responsive addImg" mdbTooltip="Add Allergy" src="./assets/images/addrecord.png"/> -->
      </a>
      <app-add-diagnosis [diagnosis]="selectedDiagnosis" (onCloseEvent)="closePopUp($event)" *ngIf="showPopUp"></app-add-diagnosis>
    </div>
    </div>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-1 text-left">
        <app-table-search (searchTexChangedEvent)="updateFilter($event)"
                          placeholderText="Search by diagnosis code and description"></app-table-search>
        <!--<input mdbInput
    type="text"
    placeholder="Search by diagnosis code"
    class="form-control textfield"
    (keyup)="updateFilter($event)"
  />-->
      </div>
      <div class="col-md-2 me-md-1 text-right">
       <div class="deprecated-checkbox">
         <input type="checkbox" name="isdeprecated" (change)="FilterByStatus($event)">
       <label for="isdeprecated">Show deprecated</label>
       </div>
      </div>
   </div>
    <div class="row">
    <div class="col-md-10 offset-md-1 me-md-1">
      <ngx-datatable #diagnosisTable class='bootstrap card-blueshadow' [columnMode]="'force'" [footerHeight]="50" [rowHeight]="'auto'"    
              [rows]='diagnosis' [count]="totalCount" [limit]="dataParams.page_size">    
              <ngx-datatable-column [width] ="100"name="Code" prop="code"></ngx-datatable-column> 
              <ngx-datatable-column [width] ="500"name="Description" prop="description"></ngx-datatable-column>  
              <ngx-datatable-column [width] ="300" name="Relevance" prop="isDeprecated" [canAutoResize]="true">
                <ng-template let-row="row" class="text-center" let-value="value" ngx-datatable-cell-template>
                  <span class="text-success" *ngIf="value==false">Active</span>
                  <span class="text-danger" *ngIf="value==true">Deprecated</span>
                </ng-template>
            </ngx-datatable-column>
              <ngx-datatable-column  name="" prop="diagnosisid" [sortable]="false">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <a (click)="openPopUp(value)" tooltip="Edit" class="view-link">
                    <i class="fas fa-pencil-alt" title="Edit Details"></i>
                  </a>
                </ng-template>
              </ngx-datatable-column>   
          </ngx-datatable> 
    </div>
  </div>  
      
  
  
