img.forgetpasswordimg{
    height: 20% ;
    width: 20% ;
}

div{
    font-family: "Raleway", serif;
}

a.greyTurnsBlue:hover{
    opacity: 1;
    color: #09e5ab;
    font-weight: 700;
  }

  a.greyTurnsBlue{
    color: #09e5ab;
  }