<app-header></app-header>
<div class="container-fluid topMarginContent">
  <div class="card border-0 row col-md-6 offset-md-3">
    <div class="text-center">
      <img class="card-img-top forgetpasswordimg" src="./assets/images/emails.png" alt="Medico">
    </div>
    <div class="card-body text-center">
      <h5 class="card-title">
        An email has been sent to your registered email id with default password.
        <br>Follow the steps mentioned in the email
      </h5>
      <br>
      <h6>Click here to <a class="greyTurnsBlue" routerLink="/user/login">Login</a></h6>
    </div>
  </div>
</div>
