<app-navbar [sidemenu_items]="sidemenu_items" (toogleNotifiationTab)="ontoogleNotifiationTab($event)" ></app-navbar>
    
<div id="mySidebar" class="sidebar">
    <div class="col-md-12 nopadding" >
        <div class="card">
            <div class="card-header">HII</div>
            <div class="card-body">Body</div>
        </div>
        <div class="card">
            <div class="card-header">HII</div>
            <div class="card-body">Body</div>
        </div>
        <div class="card">
            <div class="card-header">HII</div>
            <div class="card-body">Body</div>
        </div>
        <div class="card">
            <div class="card-header">HII</div>
            <div class="card-body">Body</div>
        </div>
        <div class="card">
            <div class="card-header">HII</div>
            <div class="card-body">Body</div>
        </div>
        <div class="card">
            <div class="card-header">HII</div>
            <div class="card-body">Body</div>
        </div>
        <div class="card">
            <div class="card-header">HII</div>
            <div class="card-body">Body</div>
        </div>
        <div class="card">
            <div class="card-header">HII</div>
            <div class="card-body">Body</div>
        </div>
    </div>
  </div>
<router-outlet></router-outlet>